@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 230 15% 12%;
    --card: 0 0% 100%;
    --card-foreground: 230 15% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 230 15% 12%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 233 46% 88%;
    --secondary-foreground: 231 48% 48%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 233 46% 88%;
    --accent-foreground: 231 48% 48%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 233 46% 75%;
    --chart-3: 230 25% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 230 15% 12%;
    --foreground: 0 0% 96.1%;
    --card: 230 15% 16%;
    --card-foreground: 0 0% 96.1%;
    --popover: 230 15% 12%;
    --popover-foreground: 0 0% 96.1%;
    --primary: 233 46% 75%;
    --primary-foreground: 230 15% 12%;
    --secondary: 230 15% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 230 15% 24%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 230 15% 24%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 15% 24%;
    --input: 230 15% 24%;
    --ring: 233 46% 75%;
    --chart-1: 231 48% 54%;
    --chart-2: 233 46% 45%;
    --chart-3: 230 25% 35%;
    --chart-4: 43 74% 56%;
    --chart-5: 27 87% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
